[submodule "arduino/libraries/Adafruit_ILI9341"]
	path = arduino/libraries/Adafruit_ILI9341
	url = https://github.com/adafruit/Adafruit_ILI9341
[submodule "arduino/libraries/Adafruit-GFX-Library"]
	path = arduino/libraries/Adafruit-GFX-Library
	url = https://github.com/adafruit/Adafruit-GFX-Library
[submodule "arduino/libraries/Adafruit_BusIO"]
	path = arduino/libraries/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO
[submodule "arduino/libraries/base64"]
	path = arduino/libraries/base64
	url = https://github.com/slaclab/arduino-base64.git
[submodule "arduino/libraries/FlashStorage"]
	path = arduino/libraries/FlashStorage
	url = https://github.com/cmaglie/FlashStorage.git
